body {
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
.nav {
    background-color: black;
    text-align: center;
    padding: 35px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    transition: 300ms
}

.nav a:hover {
    elevation: above;
    color: #901ec3;
}

.logo {
    text-align: center;
}

.logo img {
    width: 30%;
}

.btn {
    text-align: center;
}

.btn button {
    border-radius: 40px;
    padding: 16px 50px;
    border: none;
    height: 54px;
    width: auto;
    background-color: #901ec3;
    color: black;
    transition: 700ms;
}

.btn button:hover {
    elevation: above;
    color: black;
    background-color: #e3e336;
}

.get-news {
    font-family: "Geist Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: #901ec3;
    margin-top: 70px;
}

.head {
    font-family: "Geist Mono", monospace;
    text-align: center;
    font-size: 40px;
    color: #901ec3;
    margin-top: 100px;
    margin-bottom: 100px;
}

.news {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}

.news .post {
    text-align: left;
    background-color: #901ec3;
    color: black;
    width: 22%;
    height: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 10px;
    border: none;
    transition: 700ms;
}

.news .post:hover {
    color: black;
    background-color: #e3e336;
}

.news .post img {
    height: 80%;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

}

.description {
    font-family: "Geist Mono", monospace;
    padding: 15px;
}

.tours {
    margin-top: 50px;
    border-bottom: 2px solid #655b68;
    margin-bottom: 50px;
}

.nearest-show {
    width: 100%;
    border-color: #655b68;
    border-top-style: solid;
    border-top-width: 2px;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    transition: 300ms;
}

.nearest-show:hover {
    filter: brightness(1.2);
}

.date {
    text-align: left;
    width: 38%;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    font-family: "Geist Mono", monospace;
}

.city {
    text-align: left;
    font-size: 20px;
    width: 32%;
    color: white;
    font-family: "Geist Mono", monospace;
}

.show-btns {
    justify-content: right;
    display: flex;
    width: 30%;
    padding-right: 20px;
}

.show-btns .btn {
    margin-left: 10px;
}

.place {
    color: #e3e336;
}