body {
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    background-image: url("background.jpg");
}
.nav {
    background-color: black;
    text-align: center;
    padding: 35px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    transition: 300ms
}

.nav a:hover {
    elevation: above;
    color: #901ec3;
}

.logo {
    text-align: center;
}

.logo img {
    width: 30%;
}

.pre-save-btn {
    text-align: center;
}

.pre-save-btn button {
    border-radius: 40px;
    padding: 16px;
    border: none;
    height: 54px;
    width: 248px;
    background-color: #901ec3;
    color: black;
    transition: 700ms;
}

.pre-save-btn button:hover {
    elevation: above;
    color: black;
    background-color: #e3e336;
}

.get-news {
    font-family: "Geist Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: #901ec3;
    margin-top: 70px;
}

.news-head {
    font-family: "Geist Mono", monospace;
    text-align: center;
    font-size: 40px;
    color: #901ec3;
    margin-top: 100px;
    margin-bottom: 100px;
}

.news {
    display: flex;
    text-align: center;
}

.news .post {
    text-align: left;
    background-color: #901ec3;
    color: black;
    width: 22%;
    height: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 15px;
    border: none;
    transition: 700ms;
}

.news .post:hover {
    color: black;
    background-color: #e3e336;
}

.news .post img {
    height: 80%;
    width: 100%;
}

.description {
    font-family: "Geist Mono", monospace;
    padding: 15px;
}